.cart {
   position: relative;
   width: 100%;
   height: auto;
   z-index: 5;
   background-image: url(../../images/line-bg.png), url(../../images/pattern.png);
   background-repeat: repeat-x, repeat;
   background-position: left top, center top;
   background-size: contain, contain;
   -webkit-background-size: contain, contain;

   .cart__wrap {
      display: block;
      width: 90%;
      height: auto;
      max-width: 1200px;
      margin: 0 auto;
      text-align: center;

      .cart__title {
         display: inline-block;
         vertical-align: middle;
         width: auto;
         height: 100%;
         position: relative;
         line-height: 120px;
         z-index: 1;
         padding-left: 130px;

         &:before {
            content: '';
            display: block;
            position: absolute;
            left: 0px;
            top: -20px;
            width: 104px;
            height: 120px;
            background: url(../../images/icon-ticket.png) no-repeat center center;
         }

         h2 {
            font-weight: normal;
            font-size: 30px;
            color: $color-pink-1;
            line-height: 32px;
            text-transform: uppercase;
            display: inline-block;
            vertical-align: middle;
            text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
            text-align: left;
         }

      }

      .cart__content {
         display: inline-block;
         vertical-align: middle;
         width: 70%;
         margin-top: 12px;
         max-width: 910px;
         text-align: center;

         .cart__item {
            position: relative;
            height: 48px;
            width: 300px;
            margin: 0 5px 12px 5px;
            display: inline-block;
            .cart__header {
               background-color: rgba(0, 0, 0, 0.7);
               width: 100%;
               height: auto;
               cursor: pointer;
               position: absolute;
               left: 0;
               top: 0;
               padding-right: 10px;
               border: 2px solid rgba(255, 255, 255, 0);
               display: flex;
               justify-content: space-between
               ;
               align-items: center;
               &:hover{
                  background-color: $color-pink-1;
               }
               h3 {
                  display: block;
                  padding: 0 40px 0 20px;
                  font-weight: normal;
                  font-size: 15px;
                  color: #fff;
                  line-height: 44px;
                  text-align: left;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                  overflow: hidden;
                  text-transform: uppercase;
               }
            }
            &:nth-child(1) {
               .cart__header{
                  border-radius: 0 30px 30px 30px;
               }
            }
            &:nth-child(2) {
               .cart__header{
                  border-radius: 30px 0 30px 30px;
               }
            }
            &:nth-child(3) {
               .cart__header{
                  border-radius: 30px 30px 0 30px;
               }
            }
            &:nth-child(4) {
               .cart__header{
                  border-radius: 30px 30px 30px 0;
               }
            }
         }
      }
   }
}

@include reponsive('extra-large'){
   .cart{
      .cart__wrap{
         .cart__title{
            h2{

            }
         }
         .cart__content{
            .cart__item{
               width: 38%;
            }
         }
      }
   }
}
@include reponsive('large'){
   .cart{
      .cart__wrap{
         .cart__content{
            width: 100%;
            .cart__item{
               width: 47%;
            }
         }
      }
   }
}