.container {
   .container-bg {
      position: relative;
      width: 100%;
      height: auto;
      //  padding-top: 130px;
      background-image: url(../../images/bg-top.png), url(../../images/bg-footer.jpg);
      background-repeat: no-repeat, no-repeat;
      background-position: center top, center bottom;
      background-size: contain, contain;
      -webkit-background-size: contain, contain;
      overflow: hidden;
   }
}